body {
background-color: #2F2928;
color: #F3F1F1 !important;
}

/* display cursor on main bar */
a { 
  cursor: pointer
}

.main_bar {
  width: 100%;
  height: 60px;
  background-color: white;
  color: black !important;
  display: flex;
}

.main_logo {
  width: fit-content;
  height: 120%;
  background-color: white;
  display: flex;
}

.main_nav {
  width: fit-content;
  height: 100%;
  background-color: white;
}

/* no bullet points */
.main_nav ul {
  list-style: none;
  margin-left: 30px;
}  

/* next to each other */
.main_nav ul li {
  display: inline;
  float: left;

}  

/* link can be clicked in between list objects */
.main_nav ul li a{
  padding: 0 10px 0 10px;
  font-family: Arial;
  line-height: 20px;
}  



